<div class="content" role="main">

  <button mat-raised-button (click)="toggleLista()">{{mostrarLista ? 'Ocultar Lista' : 'Mostrar Lista'}}</button>

  <div class="containerLista">

    <h2>Lista de zapatillas</h2>

    <div *ngIf="mostrarLista">

      <table style="width:100%; margin-bottom: 1rem;" *ngFor="let item of items" class="tablaContainer">
        <tr>
          <th>Nombre</th>
          <th>Precio</th>
        </tr>
        <tr>
          <td>{{item.nombre}}</td>
          <td>{{item.costo}}</td>
        </tr>
      </table>

    </div>

  </div>

</div>

<router-outlet></router-outlet>